/* Google Font */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");

/* General CSS Start */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
/* General CSS End */

.container {
  background: linear-gradient(rgba(0, 0, 0, 0.7), #079184),
    url(assets/background.png);
  background-size: cover;
  background-position: center;
  height: 100vh;
  padding: 20px 6%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.row {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  margin-top: 60px;
}

.row h3 {
  color: #fff;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 4px;
}

.row h1 {
  color: #fff;
  font-size: 52px;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-top: -10px;
}

.row p {
  font-size: 16px;
  padding: 10px 25%;
}

.time-counter {
  display: flex;
  column-gap: 40px;
  align-items: center;
  margin: 10px 0;
}

.time-counter .counter {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.counter .number,
.counter .text {
  font-weight: 500;
}

.counter .number {
  font-size: 40px;
}

.counter .text {
  text-transform: capitalize;
  font-size: 12px;
  margin-top: -10px;
}

.email-signup {
  margin-top: 20px;
  background-color: #fff;
  border-radius: 4px;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.email-signup input {
  flex: 1;
  width: 200px;
  border: 0;
  outline: 0;
  margin-left: 10px;
}

.email-signup button {
  display: inline-flex;
  border: 0;
  outline: 0;
  background: #079184;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  padding: 10px 6px;
  transition: all 0.5s;
}

.email-signup button:hover {
  background: #008073;
}

/* Device Responsive */
@media (max-width: 1080px) {
  .row p {
    padding: 10px 15%;
  }
}

@media (max-width: 750px) {
  .row p {
    padding: 10px 8%;
  }
}

@media (max-width: 480px) {
  .row p {
    font-size: 14px;
    padding: 10px 3%;
  }

  .row h1 {
    font-size: 40px;
  }

  .counter .number {
    font-size: 35px;
  }

  .counter .text {
    font-size: 10px;
  }
}
